@model ElasticSearch_MVC.Controllers.DetailVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h4>明细：</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Article.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Description)
            </dd>
            <dt>
                等等其他字段不再展示...
            </dt>
        </dl>
    </div>
    <div>
        <h4>匹配解析：</h4>
        <textarea rows="35" style="width:100%;">
            @Model.Explanation
        </textarea>
    </div>
</body>
</html>
