@model ElasticSearch_MVC.Controllers.DetailVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h4>明细：</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Article.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.TypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.TypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.Downloads)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Downloads)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.Browses)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Browses)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.IsRecommend)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.IsRecommend)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.CreateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.CreateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.Creater)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article.Creater)
            </dd>

        </dl>
    </div>
    <div>
        <h4>匹配解析：</h4>
        <hr />
        <textarea rows="20" style="width:100%">
            @Model.Explanation
        </textarea>
    </div>
</body>
</html>
